{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "9.6.1"
        }
      }
    ]
  ],
  "plugins": [
    "babel-plugin-inline-import",
    "transform-object-rest-spread"
  ]
}